<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete User</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<h2>Delete User</h2>
<form th:action="@{/users/deleteUser}" method="post">
    <input type="hidden" name="_method" value="DELETE"/>
    <input type="hidden" name="id" th:value="${user.id}">
    Name:<input type="text" name="name" th:value="${user.name}" readonly/> <br>
    Age:<input type="number" name="age" th:value="${user.age}" readonly/><br>
    Email:<input type="text" name="email" th:value="${user.email}" readonly/><br>
    <input type="submit" value="Delete">
</form>

</body>
</html>